<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 
		<title>HaiStore</title>

 		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="css/font-awesome.min.css">

 		<link type="text/css" rel="stylesheet" href="css/style.css"/>

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> +213-66-66-66</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> Skikda, Algérie</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="#"><i class="fa fa-dollar"></i> DZD</a></li>
						<li><a href="signIn-Up.html"><i class="fa fa-user-o"></i> Mon Compte</a></li>
						<li><a href="index.html"><i class="fa fa-home"></i> Accueil</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">

								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<input class="input" placeholder="Rechercher ici">
									<button class="search-btn">search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Favoris -->
								<div>
									<a href="#">
										<i class="fa fa-heart-o"></i>
										<span>Favoris</span>
										<div class="qty">2</div>
									</a>
								</div>
								<!-- /Favoris -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Panier</span>
										<div class="qty">3</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img">
													<img src="./img/product01.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">Le nom De produit ici</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>DZD980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img">
													<img src="./img/product02.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">Le nom De produit ici</a></h3>
													<h4 class="product-price"><span class="qty">3x</span>DZD980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
										</div>
										<div class="cart-summary">
											<small>3 Article(s) sélectionné(s)</small>
											<h5>SUBTOTAL: DZD2940.00</h5>
										</div>
										<div class="cart-btns">
											<a href="#">Voir le panier</a>
											<a href="#">Vérification  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li><a href="#">Accueil</a></li>
						<li class="active"><a href="#">Laptops</a></li>
						<li><a href="#">Smartphones</a></li>
						<li><a href="#">Cameras</a></li>
						<li><a href="#">Accessoires</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="store-sort">
							<label>
								Trier par prix:
								<select class="input-select">
									<option value="0">croissant</option>
									<option value="1">décroissant</option>
								</select>
							</label>

							<label>
								Afficher:
								<select class="input-select">
									<option value="0">20</option>
									<option value="1">40</option>
								</select>
							</label>
						</div>
					</div>
					<!-- /store top filter -->
				</div>
				<div class="row">

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product02.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
								<div class="product-label">
									<span class="sale">-50%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
								<div class="product-label">
									<span class="sale">-40%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product02.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
								<div class="product-label">
									<span class="sale">-60%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
								<div class="product-label">
									<span class="sale">-50%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
								<div class="product-label">
									<span class="sale">-20%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
								<div class="product-label">
									<span class="sale">-40%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
								<div class="product-label">
									<span class="sale">-20%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Categorie</p>
								<h3 class="product-name"><a href="#">Le Nom de Produit ici</a></h3>
								<h4 class="product-price">DZD980.00 <del class="product-old-price">DZD990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-Favoris"><i class="fa fa-heart-o"></i><span class="tooltipp">Ajouter au Favoris</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Aperçu</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au pannier</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<ul class="store-pagination">
							<li class="active">1</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
					<!-- /store bottom filter -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

		<!-- FOOTER -->
		<footer id="footer">
			<div class="container">
				<div class="col-md-12 text-center">
					<span class="copyright">
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés
					</span>
				</div>
			</div>
		</footer>
	<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
